body {
  width: 80%;
  max-width: 80em;
  margin: 0 auto;
}

a[href] {
  color: #ee3333;
}

h2 {
  margin: 2.5em 0em 1em;
  padding: 0.2em 0em 0.1em;
  border-top: 1px solid #777;
  border-bottom: 1px dashed #777;
}

h3 {
  padding: 0em 0em 0.1em;
  border-bottom: 1px dashed #777;
}

div.highlight pre {
  padding: 1em;
  border: 1px solid #e9e9e9;
  background-color: #f9f9f0;
}
